body {
    margin: 15px;
}
#animal {
	/*
	To get the pictures to not show in a line down the page I used float: left
	*/
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
#animalView {
    border: 1px solid red;
}